::-webkit-scrollbar{display:none;} 

.App {
    background-color: #282c34;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    display: flex;
    min-height: 100vh;
}

.appname {
    font-size: 25px;
    text-align: left;
}

.backbutton {
    border-radius: 50%;
}

.footer {
    flex-grow : 1;
    position: absolute;
	bottom: 10px;
}

.header {
    height: 30px;
}

.backbutton {
    height: 25px;
}

input {
    height: 35px;
}

.form-select {
    height: 35px;
    font-size: 10%;
    text-align: top;
}

.MuiPaper-root {
    width: 320px!important;
    height: 240px!important ;
}

.main {
    width: 320px;
    min-height: 240px;
    max-height: 240px;
    height: 240px;
    text-align: center;
    display: flex;
    flex-flow: column;
    flex-direction: column;
}

form {
    flex-grow : 1;
    display: flex;
    flex-flow: column;
    position: relative;
}

.progressPage{
    flex-grow : 1;
    display: flex;
    flex-flow: column;
    position: relative;
}

.form {
    height: auto;
}

.content {
    flex-grow : 1;
    display: flex;
    flex-flow: column;
    flex-direction: column;
    height: 100%;
}

.calibratebutton {
    height: 30px;
    font-size: 13px!important;
}

.progress {
    min-width: 350px;
}