::-webkit-scrollbar{display:none;} 

.App {
    background-color: #282c34;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    display: flex;
    min-height: 100vh;
}

.appname {
    font-size: 25px;
    text-align: left;
}

.footer {
    flex-grow: 1;
    position: absolute;
	bottom: 0;
	left: 0;
    display: block;
    width: 312px;
}

.header {
    height: 30px;
}

.statusbar {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: black;
    height: 100%;
    border-radius: 0.25rem;
    display: flex;
}

.maxheightlimit {
    max-height: 100%!important;
    height: 50px;
}

.backbutton {
    height: 25px;
}

input {
    height: 35px;
}

.form-select {
    height: 35px;
    text-align: top;
}

.MuiPaper-root {
    width: 320px!important;
    height: 240px!important ;
}

.main {
    width: 320px;
    min-height: 240px;
    max-height: 240px;
    height: 240px;
    text-align: center;
    display: flex;
    flex-flow: column;
    flex-direction: column;
    position: relative;
    display: block;
}

.maincontent {
    height: auto;
    flex-grow : 1;
    display: flex;
    flex-flow: column;
    display: block;
}

.progressPage{
    flex-grow : 1;
    display: flex;
    flex-flow: column;
    position: relative;
}

.content {
    flex-grow : 1;
    display: flex;
    flex-flow: column;
    flex-direction: column;
    height: 100%;
    display: block;
}

.calibratebutton {
    height: 30px;
    font-size: 12px!important;
}

.footerbtn {
    height: 30px;
    width: 62px;
}

.footerswitch {
    position: absolute;
    bottom: 15px;
	left: 40px;
}

.menubutton {
    display: block;
    height: 36px;
}

.innerfooterbutton {
    position: relative;
    font-size: 15px;
    top: -5px;
    left: -3px;
}

.innerfooterbackbutton {
    position: relative;
    top: -12px;
    left: 2px;
}

.mymodal {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    min-width: 320px;
    height: 240px;
    min-height: 240px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9999;
}

.lockbutton {
    border-radius: 20%!important;
}

.textDanger {
    color: red;
}

.textSuccess {
    color: green;
}

.smallinput {
    height: 25px;
}

.progress {
    height: 25px;
    min-height: 25px;
    max-height: 25px;
}

.progressinput {
    font-size: 14px;
}

.resumetext {
    font-size: 12px;
}
