.App {
    background-color: #282c34;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    display: flex;
    min-height: 100vh;
}

.appname {
}

.backbutton {
    border-radius: 50%;
}

.footer {
    align-items: end;
}

.main {
    width: 320px;
    height: 240px;
    text-align: center;
}

.progress {
    min-width: 350px;
}